<!DOCTYPE html>
<html>
<head>
    <title>Recipe 5.0</title>
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>

    <nav class="ui fixed inverted menu yellow">
        <div class="ui container">
            <a class="header item" href="/">Recipe 5.0</a>
        </div>
        <div class="">
            <ul class="header item">
                <% if(!currentUser){ %>
                    <div class="right menu">
                        <a href="/login" class="item">Login</a>
                        <a href="/register" class="item">Register</a>
                    </div>
                <% } else { %>
                    <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

<% if(error && error.length > 0){%>
<div class="ui container">
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){%>
        <div class="button" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>