<!DOCTYPE html>
<html>
<head>
    <title>Recipe 5.0</title>
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>

</head>

<body>
    <div class="ui three column relaxed divided grid">
        <div class="ui fixed inverted menu yellow">
            <div class="ui container">
                <a class="header item" href="/">Recipe 5.0</a>
                    <% if(!currentUser){ %>
                        <div class="right menu">
                            <a href="/login" class="item">Login</a>
                            <a href="/register" class="item">Register</a>
                            <% } else { %>
                            <div class="right menu">
                                <a class="item" href="#">Signed In As <%= currentUser.username %></a>
                                <a class="item" href="/logout">Logout</a>
                            <% } %>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        <% if(error && error.length > 0){%>
        <div class="ui container">
            <div class="ui error message" role="alert">
                <%= error %>
            </div>
            <% } %>
            <% if(success && success.length > 0){%>
                <div class="ui success message" role="alert">
                    <%= success %>
                </div>
            <% } %>
        </div>
    </div>
