<!DOCTYPE html>
<html>
<head>
    <title>Recipe5.0</title>
    <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>

    <div id="landing-header">
        <h1>Recipe 5.0!</h1>
        <a href="/recipes" class="ui toggle yellow button">View All Recipes</a>
    </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>




<% include partials/footer %>