body {
    margin-top: 6em;
}

h1 {
    margin: 0.5em;
}

h4 {
    margin: 0.5em;
    padding: 0.5em;
}

.header {
    text-align: center;
}

#header {
    text-align: center;
}

#ingredient {
    margin: 0;
    padding: 0;
}

#ingredient-note {
    margin-top: 0.2em;
    padding-bottom: 0.5em;
}

#ingredient-item {
    margin: 0.2em;
}

#ingredient-submit {
    display: inline;
    margin-right: 0.3em;
}

