<% include ../partials/header %>

<div class="ui raised very padded text container segment">
    <header clas="ui huge header">
        <div id="header">
            <h1>Welcome to Recipe 5.0</h1>
            <h4>5 Ingredient Recipes for Busy Homes</h4>
            <a class="ui yellow button" href="/recipes/new">Add a New Recipe</a>
        </div>
    </header>
    <hr>

    <div class="ui container">
        <% recipes.forEach(function (recipe) { %>
            <div class="container item">
                <img src="<%= recipe.image %>">
                <div class="item">
                    <h3><strong><%= recipe.name %></strong></h3>
                </div>
                <p>
                    <a href="/recipes/<%= recipe._id %>" class="ui yellow basic button">More Info</a>
                </p>
                <hr>
            </div>
        <% })%>
    </div>
</div>
<% include ../partials/footer%>
